.conteudo-principal {
    filter: drop-shadow(0px 0px 70px rgba(2, 189, 255, 0.40));
    min-height: 100%;
    padding: 5rem 6.5rem;
    
    display: grid;
    grid-template-columns: 1.375fr 1fr;
    column-gap: 5rem;
  
    background: white url('./assets/oculos.png') no-repeat bottom left;
    background-size: auto 40%;
  
    position: relative;
    background-position: left bottom -40px;
  }

  @media screen and (min-width: 0) {
        .conteudo-principal {
            margin-bottom: 2rem;
        }
  }

  @media screnn and (min-width: 768px) {
    .conteudo-principal {
        margin-bottom: 0;
    }
  }